apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 79.4.0
    helm:
      # IMPORTANT: que Argo instal·li els CRD també
      skipCrds: false
      values: |
        prometheus-pushgateway:
          enabled: false

        # Opcional però útil per arrencar sense StorageClass
        prometheus:
          prometheusSpec:
            storageSpec:
              emptyDir: {}
            retention: 10d
        alertmanager:
          alertmanagerSpec:
            storage:
              emptyDir: {}

        nodeExporter:
          tolerations:
            - operator: "Exists"
          hostNetwork: false
          service:
            hostPort: false

        kube-state-metrics:
          tolerations:
            - operator: "Exists"

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - Replace=true
      - PruneLastAppliedConfiguration=true
