---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  annotations: {argocd.argoproj.io/sync-wave: "10"}
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 66.3.1
    helm:
      values: |
        crds:
          enabled: true
        grafana:
          enabled: false
        nodeExporter:
          enabled: true
        prometheus:
          enabled: true
          prometheusSpec:
            serviceMonitorNamespaceSelector: {}
            serviceMonitorSelector: {}
            podMonitorNamespaceSelector: {}
            podMonitorSelector: {}
            ruleNamespaceSelector: {}
            ruleSelector: {}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
      - Replace=true
