---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - servicemonitor.yaml
patches:
  - path: patch-test.yaml
    target:
      group: apps
      version: v1
      kind: Deployment
      name: nats-exporter
      namespace: monitoring

