apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-test
  namespace: test-app
  labels:
    app: hello-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-test
  template:
    metadata:
      labels:
        app: hello-test
    spec:
      containers:
      - name: hello
        image: nginx:alpine
        ports:
        - containerPort: 80
