apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: infra
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring

  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: 8.6.2
    helm:
      values: |
        adminUser: admin
        adminPassword: "admin"

        persistence:
          enabled: true
          size: 5Gi
          storageClassName: longhorn

        service:
          type: ClusterIP
          port: 80

        # On Grafana trobarà els dashboards provisionats
        dashboardProviders:
          dashboardproviders.yaml:
            apiVersion: 1
            providers:
              - name: default
                orgId: 1
                folder: Provisioned
                type: file
                disableDeletion: false     # ← permet eliminar dashboards si ja no estan al CM
                editable: true
                updateIntervalSeconds: 30
                options:
                  path: /var/lib/grafana/dashboards/default

        # Aquí li diem que munti el ConfigMap amb els dashboards JSON
        dashboardsConfigMaps:
          default: grafana-dashboards

        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                access: proxy
                isDefault: true
                url: http://prometheus-server.monitoring.svc.cluster.local

        ingress:
          enabled: true
          ingressClassName: traefik
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.tls: "true"
          path: /
          pathType: Prefix
          hosts:
            - grafana.192.168.1.14.nip.io
          tls:
            - secretName: grafana-tls
              hosts:
                - grafana.192.168.1.14.nip.io

        deploymentStrategy:
          type: Recreate

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
