---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: grafana
  namespace: argocd
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: https://grafana.github.io/helm-charts
    chart: grafana
    targetRevision: 8.6.2
    helm:
      values: |
        adminUser: admin
        adminPassword: "admin"

        persistence:
          enabled: true
          size: 5Gi
          storageClassName: longhorn

        service:
          type: ClusterIP
          port: 80

        dashboardProviders:
          dashboardproviders.yaml:
            apiVersion: 1
            providers:
              - name: default
                orgId: 1
                folder: General
                type: file
                disableDeletion: true
                editable: true
                options:
                  path: /var/lib/grafana/dashboards

        sidecar:
          dashboards:
            enabled: true
            label: grafana_dashboard
            labelValue: "1"
            searchNamespace: ALL
            folder: /var/lib/grafana/dashboards
            provider:
              foldersFromFilesStructure: false
            securityContext:
                runAsUser: 0    # <- temporal; quan ho tinguem ok, el tornem a 472
                runAsGroup: 0

        datasources:
          datasources.yaml:
            apiVersion: 1
            datasources:
              - name: Prometheus
                type: prometheus
                access: proxy
                isDefault: true
                url: http://prometheus-server.monitoring.svc.cluster.local

        ingress:
          enabled: true
          ingressClassName: traefik
          annotations:
            traefik.ingress.kubernetes.io/router.entrypoints: websecure
            traefik.ingress.kubernetes.io/router.tls: "true"
          path: /
          pathType: Prefix
          hosts:
            - grafana.192.168.1.14.nip.io
          tls:
            - secretName: grafana-tls
              hosts:
                - grafana.192.168.1.14.nip.io

        testFramework:
          enabled: false

        initChownData:
          enabled: true
          # aquests valors funcionen bé amb K3s/Longhorn
          runAsUser: 0

        extraInitContainers:
          - name: create-dashboards-dir
            image: docker.io/library/busybox:1.36
            command:
              - sh
              - -c
              - mkdir -p /var/lib/grafana/dashboards && chown -R 472:472 /var/lib/grafana
            securityContext:
              runAsUser: 0
            volumeMounts:
              - name: storage
                mountPath: /var/lib/grafana

        # perquè TOTS els contenidors del pod puguen escriure al volum
        podSecurityContext:
          fsGroup: 472
          fsGroupChangePolicy: "OnRootMismatch"

        # usuari/grup efectiu del contenidor principal (coherent amb Grafana)
        securityContext:
          runAsUser: 472
          runAsGroup: 472

        deploymentStrategy:
          type: Recreate


  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
