apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: monitoring
spec:
  project: default
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: prometheus
    targetRevision: 25.24.1
    helm:
      values: |
        server:
          persistentVolume:
            enabled: true
            size: 20Gi
            storageClass: longhorn

          extraScrapeConfigs:
            - job_name: 'nats-exporter'
              metrics_path: /metrics
              static_configs:
                - targets:
                    - 'nats-exporter-prometheus-nats-exporter.monitoring.svc.cluster.local:7777'
            - job_name: 'pinger-exporter'
              metrics_path: /metrics
              static_configs:
                - targets:
                    - 'pinger-exporter.pinger-exporter.svc.cluster.local:80'
              scrape_interval: 15s

        alertmanager:
          enabled: false
        pushgateway:
          enabled: false
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ApplyOutOfSyncOnly=true
